/******
*Colors
******/

:root {
    /*transitions*/
    --greenery: #86af49;
    --serenity: #90a7d0;
    --rosequartz: #f2dcde;
    --treetop: #476a30;
    --twilightpurple: #66648b;
    --orionblue: #3f4f5e;
    --calypsocoral: #ef5c6e;
    --nimbuscloud: #d6d5da;
    /*ethereal material*/
    --periscope: #45434b;
    --caramelcafe: #864c24;
    --richgold: #c8b374;
    --dullgold: #896e47;
    --fruitdove: #ce5b78;
    --bodacious: #b86ba3;
    --marlin: #525a88;
    /*modern bauhaus*/
    --triune-red: rgb(215, 0, 54);
   --triune-black: rgb(35, 31, 32);
   --triune-cream: rgb(245, 240, 161);
   --triune-sky: rgb(136, 219, 223);
   --triune-sun: rgb(255, 230, 0);
    
}

/*transitions*/

.greenery_font {
    color: var(--greenery);
}

.greenery_bg {
    background-color: var(--greenery);
}

/*ethereal material*/

.periscope_font {
    color: var(--periscope);
}

.periscope_bg {
    background-color: var(--periscope);
}

.dullgold_font {
    color: var(--dullgold);
}

.dullgold_bg {
    background-color: var(--dullgold);
}

.white_font {
    color: #ffffff;
}

.white_bg {
    background-color: #ffffff;
}

.calypsocoral_bg {
    background-color: var(--calypsocoral);
} 

.nimbuscloud_font {
    color: var(--nimbuscloud);
}